@if(form){
<ng-container [formGroup]="form">
    <ng-content select="[base-field-config-description]"></ng-content>
    <div class="tw-flex tw-flex-col tw-gap-2">
        <ng-content select="[base-field-config-form-start]"></ng-content>
        <p-dropdown
            [options]="allFields"
            placeholder="Select a field"
            formControlName="selectedField"
            optionLabel="value.key"
            [showClear]="true"
            class="tw-flex tw-flex-col"
        >
            <ng-template let-field pTemplate="item">
                <div class="tw-flex tw-justify-between tw-items-center">
                    <div class="tw-text-base">{{ field.value.key }}</div>
                    <div
                        class="tw-border-none tw-bg-slate-700 tw-text-white tw-p-2 tw-w-[100px] tw-text-xs tw-text-center tw-rounded-md"
                    >
                        {{ fieldTypeMapper(field.value ? field.value.type : '') }}
                    </div>
                </div>
            </ng-template>
        </p-dropdown>
        <ng-content select="[base-field-config-form-end]"></ng-content>
        <p-button label="Add" size="small" (onClick)="addAction([form.get('selectedField')?.value, action])" />
    </div>
    <p-divider></p-divider>
    <ng-content select="[base-field-config-list]"></ng-content>
</ng-container>
}
