<p-panel [toggleable]="true" [header]="section.title" cdkDrag cdkDragLockAxis="y">
    <ng-template pTemplate="icons">
        <button
            class="p-panel-header-icon p-link mr-2"
            (click)="openSectionSetting(section)"
            aria-label="open section"
            data-testid="ConfigPanelComponent.openSectionSetting"
        >
            <span class="pi pi-cog"></span>
        </button>
        <button
            class="p-panel-header-icon p-link mr-2"
            aria-label="clone section"
            data-testid="ConfigPanelComponent.cloneSection"
        >
            <span class="pi pi-clone"></span>
        </button>
        @if(sectionList.length > 1){
        <button class="p-panel-header-icon p-link mr-2" cdkDragHandle>
            <span class="pi pi-arrows-v"></span>
        </button>
        }
        <button
            class="p-panel-header-icon p-link mr-2 tw-text-red-700"
            (click)="deleteSectionSetting(section.ffw_key)"
            aria-label="delete section"
            data-testid="ConfigPanelComponent.deleteSectionSetting"
        >
            <span class="pi pi-trash"></span>
        </button>
    </ng-template>
    <p class="tw-text-xs" [innerHTML]="section.description"></p>
    <p-divider />
    @for(row of section.rows; track row.ffw_key; ){
    <div
        class="tw-w-full tw-box-border tw-border tw-mb-4 tw-text-center tw-relative tw-transition-all tw-duration-150 tw-ease-in tw-flex tw-gap-2"
        [ngClass]="{
            'tw-ring-2 tw-ring-blue-500 tw-bg-blue-50 tw-shadow-md': row.ffw_isDraggingOver
        }"
        [id]="row.ffw_key"
        cdkDropList
        [cdkDropListData]="row"
        [cdkDropListEnterPredicate]="fieldEnterPredict"
        [cdkDropListConnectedTo]="['ffb-report-builder-components']"
        (cdkDropListEntered)="row.ffw_isDraggingOver = true"
        (cdkDropListExited)="row.ffw_isDraggingOver = false"
        (cdkDropListDropped)="fieldDropped($event, section, row.ffw_key)"
        aria-label="Section drop zone"
        cdkDrag
    >
        @if(row.hasConfig){ @for(field of splitFormlyFields(row.ffw_key);track field.key){
        <div class="tw-relative tw-w-full">
            <button
                class="p-link tw-absolute tw-top-1 tw-right-2"
                (click)="openFieldSetting(row, row.ffw_key, $index, section)"
                aria-label="open field setting"
                data-testid="ConfigPanelComponent.openFieldSetting"
            >
                <span class="pi pi-cog"></span>
            </button>
            <button
                class="p-link tw-text-red-700 tw-absolute tw-top-1 tw-right-8"
                (click)="deleteField(section, row.ffw_key, $index)"
                aria-label="delete field"
                data-testid="ConfigPanelComponent.deleteField"
            >
                <span class="pi pi-trash"></span>
            </button>
            <formly-form [fields]="[field]"></formly-form>
        </div>
        }
        <div
            class="tw-flex tw-flex-col tw-gap-3 tw-justify-center tw-text-sm tw-opacity-20 tw-transition-opacity tw-duration-300 tw-ease-in-out hover:tw-opacity-100"
        >
            @if(!$first){
            <button
                class="p-panel-header-icon p-link mr-2"
                (click)="moveRowUp(section, $index, $first)"
                aria-label="move up"
                data-testid="ConfigPanelComponent.moveRowUp"
            >
                <span class="pi pi-chevron-up"></span>
            </button>
            } @if(!$last){
            <button
                class="p-panel-header-icon p-link mr-2"
                (click)="moveRowDown(section, $index, $last)"
                aria-label="move down"
                data-testid="ConfigPanelComponent.moveRowDown"
            >
                <span class="pi pi-chevron-down"></span>
            </button>
            }
        </div>
        }@else {

        {{ !row.ffw_isDraggingOver ? 'Place new fields here' : 'Please release to create new field' }}
        }
        <ng-template cdkDragPlaceholder> </ng-template>
    </div>
    }

    <div
        class="tw-w-full tw-p-4 tw-box-border"
        aria-label="Row drop zone"
        [ngClass]="{
            'tw-border-blue-400 tw-border-solid': section.ffw_isDraggingOver,
            'tw-border-dotted': !section.ffw_isDraggingOver
        }"
        cdkDropList
        [cdkDropListEnterPredicate]="rowEnterPredict"
        [cdkDropListConnectedTo]="['ffb-report-builder-components']"
        (cdkDropListEntered)="section.ffw_isDraggingOver = true"
        (cdkDropListExited)="section.ffw_isDraggingOver = false"
        (cdkDropListDropped)="rowDropped(section, section.ffw_key)"
        [id]="section.ffw_key"
    >
        {{ !section.ffw_isDraggingOver ? 'Place new row here' : 'Please release to create a new row' }}
    </div>
</p-panel>
