<p-panel [toggleable]="true" [header]="section.title" cdkDrag cdkDragLockAxis="y">
    <ng-template pTemplate="icons">
        <button class="p-panel-header-icon p-link mr-2 tw-text-red-700">
            <span class="pi pi-trash"></span>
        </button>
        @if(sectionList.length > 1){
        <button class="p-panel-header-icon p-link mr-2" cdkDragHandle>
            <span class="pi pi-arrows-v"></span>
        </button>
        }
        <button class="p-panel-header-icon p-link mr-2">
            <span class="pi pi-clone"></span>
        </button>
        <button class="p-panel-header-icon p-link mr-2" (click)="openSetting(section)">
            <span class="pi pi-cog"></span>
        </button>
    </ng-template>
    <p class="tw-text-xs" [innerHTML]="section.description"></p>
    <p-divider />
    @for(row of section.rows; track row.ffw_key){
    <div class="tw-w-full tw-h-[60px] tw-box-border tw-border tw-border-dotted tw-mb-4" [id]="row.ffw_key">
        Place fields here
    </div>
    }

    <div
        class="tw-w-full tw-p-4 tw-box-border"
        [ngClass]="{
            'tw-border-blue-400 tw-border-solid': section.ffw_isDraggingOver,
            'tw-border-dotted': !section.ffw_isDraggingOver
        }"
        cdkDropList
        [cdkDropListEnterPredicate]="rowEnterPredict"
        [cdkDropListConnectedTo]="['ffb-report-builder-components']"
        (cdkDropListEntered)="section.ffw_isDraggingOver = true"
        (cdkDropListExited)="section.ffw_isDraggingOver = false"
        (cdkDropListDropped)="rowDropped(section, section.ffw_key)"
        [id]="section.ffw_key ?? 'ffb-default-section-row-droparea'"
    >
        {{ !section.ffw_isDraggingOver ? 'Place new row here' : 'Please release to create a new row' }}
    </div>
</p-panel>
