<div class="tw-grid tw-grid-cols-[300px_1fr] tw-h-screen tw-overflow-hidden tw-bg-gray-100 tw-gap-4">
    <!-- Left Panel: Toolbox -->
    <div class="tw-p-4 tw-bg-white tw-h-full tw-overflow-auto">
        <ffb-form-options [reportOptions]="DRAGABLE_LIST"></ffb-form-options>
    </div>
    <!-- Middle Panel: Designer -->
    <div class="tw-p-4 tw-h-full">
        <ffb-form-designer></ffb-form-designer>
    </div>

    <!-- Right Panel: Optional -->
    <!-- <div id="option" class="tw-p-4 tw-bg-white"></div> -->
</div>
