<p-tabView [(activeIndex)]="tabIndex" class="ffb-tab-view-recent-no-leftright-padding">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="tw-flex tw-justify-between tw-items-center tw-w-[100px]">
                <span>{{ field.type }}</span>
            </div>
        </ng-template>
        <ffb-field-config [form]="form" [ffw_key]="field.ffw_key" [allFields]="flattenFields"></ffb-field-config>
    </p-tabPanel>
</p-tabView>

<div class="tw-flex tw-justify-end tw-gap-3 tw-w-full">
    <p-button
        label="Cancel"
        severity="secondary"
        styleClass="p-button-sm"
        (onClick)="ref.close()"
        data-testid="RowConfigDialogComponent.cancel"
    />
    <p-button label="Save" styleClass="p-button-sm" (onClick)="update()" data-testid="RowConfigDialogComponent.save" />
</div>
