<div
    class="tw-w-full tw-p-4 tw-box-border tw-rounded-lg tw-bg-white tw-transition-all tw-duration-300 tw-ease-in-out"
    id="ffb-default-section-drop-area"
    [ngClass]="{
        'tw-shadow-lg': isDraggingOver,
        'tw-shadow-none': !isDraggingOver
    }"
    cdkDropList
    [cdkDropListConnectedTo]="['ffb-report-builder-components']"
    [cdkDropListEnterPredicate]="sectionPredict"
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="isDraggingOver = true"
    (cdkDropListExited)="isDraggingOver = false"
>
    {{ !isDraggingOver ? 'Place new section here' : 'Please release to create a new section' }}
</div>
