@import './assets/styles/variables/common';
@import './assets/styles/variables/_light';
@import './assets/styles/variables/_dark';
@import './assets/styles/mixin';
@import './assets/styles/typography';
@import './assets/styles/override';
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    padding: 0;
    margin: 0;
}

.ffb-field-checkbox .p-field {
    display: flex;
    min-height: 50px;
    @apply tw-gap-3;
    .p-component.p-element {
        width: 100%;
        box-sizing: border-box;
    }

    label {
        text-align: left;
    }
}

.ffb-field-default {
    @apply tw-w-full;
}

.ffb-field-default .p-field {
    @apply tw-flex tw-flex-col tw-gap-3;

    .p-component.p-element,
    .p-inputwrapper {
        @apply tw-w-full tw-box-border tw-text-left;
    }

    .p-datepicker-trigger {
        width: 50px !important;
    }

    label {
        @apply tw-text-left;
    }
}

.ffb-section-row {
    //@apply tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-4;
    @apply tw-flex tw-flex-nowrap tw-gap-4 tw-mb-3;
}

.ffb-none-header-dialog .p-dialog-header {
    @apply tw-hidden;
}

// [cdkDropList] {
//     outline: 2px dashed red;
// }
