.color-override-menubar-danger {

    .p-menuitem-text, .p-menuitem-icon{
        @apply tw-text-red-500
    }
}

.ffb-field-checkbox{
    .p-field{
        align-items: center;
    }
}

.ffb-accordion-no-padding .p-accordion-content {
    padding: 0;
}

.ffb-tab-view-recent-no-leftright-padding > .p-tabview > .p-tabview-panels{
    padding: 20px 0;
}